.hero {
  margin-top: 52px;
}
.hero h1 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 1.5;
}
.hero-text {
  margin: 0.75em 0 1.25em;
}
.hero-btn-wrapper {
  margin-top: 40px;
}
.hero-btn-wrapper .btn {
  padding-top: 14px;
  padding-bottom: 14px;
}
.metrodi-features {
  margin-top: 50px;
  border-top: 2px solid #31333a;
  border-bottom: 2px solid #31333a;
  padding-top: 60px;
  padding-bottom: 22px;
  counter-reset: item;
}
.metrodi-feature {
  display: flex;
  margin-bottom: 10px;
}
.metrodi-feature::before {
  content: counter(item, decimal-leading-zero) ' ';
  counter-increment: item;
  width: 50px;
  flex-shrink: 0;
}
.metrodi-feature h2,
.metrodi-feature::before {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.25;
}
.metrodi-feature p {
  font-size: 17px;
  letter-spacing: 0.03em;
}
.pride-text {
  font-size: 27px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0;
  padding-top: 80px;
  padding-bottom: 70px;
  margin: 0;
}
.footer {
  margin-top: 0;
}
@media (min-width: 1280px) {
  .hero {
    margin-top: 64px;
  }
  .hero-wrapper {
    position: relative;
    padding-left: 33%;
  }
  .hero h1 {
    font-size: 56px;
    line-height: 1.45;
  }
  .hero-text {
    font-size: 18px;
  }
  .hero-btn-wrapper {
    margin-top: 22px;
  }

  .hero-img-wrapper {
    position: absolute;
    left: 0;
    width: 260px;
    margin-top: -50px;
    height: calc(100% - 144px);
  }
  .hero-btn-wrapper img {
    position: sticky;
    top: 94px;
  }
  .hero-btn-wrapper .btn {
    padding: 18px 30px;
  }
  .metrodi-features {
    margin-top: 70px;
    padding-top: 52px;
    border-bottom: 0;
  }
  .metrodi-feature {
    margin-bottom: 32px;
    gap: 32px;
  }
  .metrodi-feature h2,
  .metrodi-feature::before {
    font-size: 32px;
  }
  .metrodi-feature::before {
    width: unset;
  }
  .metrodi-feature p {
    line-height: 1.6;
  }
  .pride-line-wrapper {
    border-top: 2px solid #31333a;
  }
  .pride-text {
    font-size: 36px;
    max-width: 800px;
    margin: 0 auto;
  }
}
@media (min-width: 1600px) {
  .hero {
    margin-top: 86px;
  }
  .hero-wrapper {
    padding-right: 12%;
  }
  .hero h1 {
    font-size: 78px;
    line-height: 1.6;
  }
  .hero-text {
    font-size: 26px;
    letter-spacing: -0.02em;
    font-weight: 500;
    max-width: 400px;
    display: inline-block;
  }
  .hero-btn-wrapper {
    float: right;
  }
  .hero-btn-wrapper .btn {
    padding: 24px 38px;
  }
  .hero-img-wrapper {
    width: 415px;
    margin-top: -115px;
    max-width: 30%;
  }
  .hero-btn-wrapper img {
    top: 128px;
  }
  .metrodi-features {
    margin-top: 44px;
    padding-top: 80px;
  }
  .metrodi-feature {
    gap: 24px;
    margin-bottom: 20px;
    max-width: 760px;
  }
  .metrodi-feature h2,
  .metrodi-feature::before {
    font-size: 42px;
  }
  .metrodi-feature h2 {
    margin-bottom: 36px;
  }
  .metrodi-feature p {
    font-size: 20px;
  }
  .pride-line-wrapper {
    margin-top: 90px;
  }
  .pride-text {
    font-size: 42px;
    max-width: 850px;
    padding-top: 135px;
    padding-bottom: 120px;
  }
}
